body,
body button{
  transition: background-color 1.5s, color 0.5s;
  background-color: black;
  color: white;
}


.body-container.contact-visible,
body.contact-visible,
body.contact-visible p,
body.contact-visible button,
body.contact-visible h1,
body.contact-visible h2,
body.contact-visible a {
  color: black !important;
  transition: background-color 1.5s, color 0.2s;
}

body.contact-visible label {
  color: #343a40;
}

body.contact-visible p,
body.contact-visible button,
body.contact-visible h2 {
  color: black;
}

.body-container.contact-visible .m-scroll {
  border-color: black;
}

body.m-scroll__title h1 {
  margin: 0;
  font-size: 9px;
  color: black;
  transition: all 1s ease;
}

/* Animation de fond pour tous les éléments body-container */
.body-container {
  will-change: background-color; /* Optimisation pour l'animation */
}

.body-container.contact-visible {
  background-color: #77DF0F;
  color: black !important;
  transition: background-color 1.5s, color 0.2s; /* Durée de transition plus lente pour le fond sur Projects */
}

/* Animation pour le retour au fond de base */
.body-container:not(.contact-visible) {
  transition: background-color 1.5s, color 0.2s;
}
