body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C6E6D3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Ade Display';
  src: url('./fonts/ade-display/Ade-Display.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Yahren';
  src: url('./fonts/Yahren/Yahrenv2ei.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Metal Vengeance';
  src: url('./fonts/metal-vengeance-font/MetalVengeance-0WqV9.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Metal Vengeance it';
  src: url('./fonts/metal-vengeance-font/MetalVengeanceItalic-owAdd.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Familia Herlequin';
  src: url('./fonts/familia_herlequin/Familia_Herlequin_font.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Angel Wish';
  src: url('./fonts/angel_wish/Angel\ wish.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}



h1 {
    font-family: 'Ade Display', serif;
  font-weight: lighter;
}

h2 {
  font-family: 'Ade Display', serif;
  font-weight: lighter;
}

@import '~typeface-mina';

p {
  font-family: "Mina", sans-serif;
}

a{
  font-family: "Mina", sans-serif;
}


button {
  font-family: "Mina", sans-serif;
}
.swiper {
  width: 100%;
  max-width: 1500px; /* Limite la largeur totale */
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 600px; /* Ajustez cette valeur pour correspondre au ratio souhaité */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure le recadrage de l'image */
}

.mySwiper .swiper-slide-active img {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 40px;
  color: #70e000;
}

@media (max-width: 767px) {
  .swiper-slide img {
    width: 100%; /* L'image prend toute la largeur */
    height: auto; /* Ajuste la hauteur tout en gardant le ratio */
    max-height: 80vh; /* Limiter la hauteur max de l'image */
  }
}
