body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C6E6D3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Ade Display';
  src: url('./fonts/ade-display/Ade-Display.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Yahren';
  src: url('./fonts/Yahren/Yahrenv2ei.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Metal Vengeance';
  src: url('./fonts/metal-vengeance-font/MetalVengeance-0WqV9.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Metal Vengeance it';
  src: url('./fonts/metal-vengeance-font/MetalVengeanceItalic-owAdd.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Familia Herlequin';
  src: url('./fonts/familia_herlequin/Familia_Herlequin_font.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}



h1 {
  font-family: 'Familia Herlequin';
}

h2 {
  font-family: 'Ade Display', serif;
  font-weight: lighter;
}

@import '~typeface-mina';


p {
  font-family: "Mina", sans-serif;
}

a{
  font-family: "Mina", sans-serif;
}


button {
  font-family: "Mina", sans-serif;
}
